
body {
  font-family: Arial, sans-serif;
  background: #fbfaf8;
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin: 25px 0;
  color: #14532d;
}

.navbar {
  width: 100%;
  padding: 18px 30px;
  background: white;
  color: #14532d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.nav-logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s ease;
}

.nav-links li:hover {
  text-decoration: underline;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 22px;
  padding: 20px;
}

.image-card {
  background: #fff;
  border-radius: 18px;
  padding: 16px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
  
}

.image-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.card-image {
  width: 100%;
  height: 250px;       /* You can adjust this height */
  object-fit: cover;   /* Keeps images uniform without distortion */
  border-radius: 14px;
  display: block;
}

.card-title {
  color: #14532d;
  font-size: 18px;
  font-weight: 600;
  margin-top: 12px;
}

.card-desc {
  color: #183e27;
  font-size: 14px;
  margin-top: 5px;
}

@media (min-width: 770px) {
  .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}
